.big-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(49, 49, 49);
    
    .content-container {
        width: auto;
        height: auto;
        /*border: 1px solid #000;*/
        padding: 10px 0 20px 0;
        display: flex;
        gap: 1rem;
        border-radius: 15px;
        flex: 1 0 auto;
    }
}

.left-container {
    width: 150px;
    height: auto;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*margin: 0 20px 0 20px;*/
    .info {
        width: 100%;
        height: auto;
        background-color: beige;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 20px;
        padding: 20px 0 20px 0;
        border-radius: 15px;
        .avatar{
            display:block;
            width: 100px;
            height: auto;
            border-radius: 100%;
        }
        .name{
            margin-top: 5px;
            font-size: larger;
            font-weight: bolder;
            text-align: center;
            color: rgb(31, 239, 239);
        }
    }

    .guid{
        width: 100%;
        height: auto;
        background-color: beige;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /*margin: 20px;*/
        padding: 20px 0 20px 0;
        border-radius: 15px;
        gap:20px;
        .guid-item{
            color :rgb(31, 239, 239);
            font-weight: bolder;
            .guid-link{
                color :rgb(31, 239, 239);
                text-decoration: none;
                position: relative;
                width: max-content;
                user-select: none;
            }
            .guid-link::before{
                content: "";
                display: block;
                position: absolute;
                bottom :-2px;
                left: 50%;
                width: 0%;
                height: 2.5px;
                background-color: rgb(31, 239, 239);
                transition: width 200ms ease-out, left 200ms ease-out;
                border-radius: 1px;
            }
            .guid-link:hover:before{
                left: -2.5%;
                width: 105%;
                transition: width 200ms ease-out, left 200ms ease-out;
            }
            .guid-link.active:before{
                left: -2.5%;
                width: 105%;
                transition: none;
            }
            .guid-link.active:hover:before{
                animation: pulse 200ms ease-out;
            }
            .guid-link.clicked:before{
                width: 0;
                left: 50%;
                transition: width 100ms ease-out, left 100ms ease-out;
            }
            @keyframes pulse {
                0%, 100% {
                    left: -2.5%;
                    width: 105%;
                }
                50% {
                    left: 0%;
                    width: 100%;
                }
            }
        }
    }
}

.right-container {
    width: 600px;
    height: auto;
    max-height: fit-content;
    background-color: beige;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
}