.big-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    /*border :3px solid red;*/
    flex-direction: column;
    position: relative;
}

/* 调试用中心线 - 上线前记得删除 */
.big-container::before {
    content: "";
    position: fixed;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: red;
    z-index: 9999;
    pointer-events: none;
}

.big-container {
    .main-photo {
        width: auto;
        height: auto;
        /*border: 1px solid #000;*/
        /*padding: 20px 0 20px 0;*/
        display: flex;
        /*gap: 20px;*/
        border-radius: 15px;
        flex-direction: column;
        position: relative;

        .home-photo {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .welcome-text {
            position: absolute;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            font-size: 45px;
            color: white;
            font-weight: bold;

        }

        .triangle {
            position: absolute;
            bottom: 7%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 60px;
            height: 60px;
            opacity: 0.7;
            animation: arrow-float 3s ease-in-out infinite;
        }

        .arrow {
            width: 100%;
            height: 100%;
            display: block;
            transform: rotate(180deg);
        }

    }

}
.content-container {
    width: auto;
    height: auto;
    border: 1px solid #000;

    /*padding: 20px 0 20px 0;*/
    /*display: flex;*/
    /*gap: 20px;*/
    /*border-radius: 15px;*/
    .timeline {
        margin: 0 0px 0 10px;
        border: 1px solid rgb(255, 0, 0);
        display: flex;
        justify-content: center;

        .line{
            width: 4px;
            height: 500px;
            background-color: grey;

        }

    }

    .article-line {
        margin: 40px 0 0 0;

        .article {
            width: 800px;
            height: auto;
            border: 1px solid gray;
            padding: 5px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            border-radius: 15px;

            .article-photo {
                width: 100px;
                height: auto;
                border-radius: 10px;

            }

            .text {
                margin-left: 10px;
                .info {
                    display: flex;
                    flex-direction: row;
                }

            }
        }
    }
}

@keyframes arrow-float {
    0%, 100% {
        transform: translate(-50%, 50%) translateY(0);
        
    }
    50% {
        transform: translate(-50%, 50%) translateY(-15px);
        opacity: 0.4;
    }
}
